@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Mulish;
  src: url('/fonts/Mulish-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: Mulish;
  src: url('/fonts/Mulish-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: Mulish;
  src: url('/fonts/Mulish-Semibold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: Mulish;
  src: url('/fonts/Mulish-Bold.ttf');
  font-weight: 700;
}

.navbar-link {
  @apply text-black text-sm font-semibold hover:text-teal-300;
}

